<header>
  <h1>What's in your thought bubble, <%= @user.username %> ?</h1>
</header>
<div>
  <%= render(partial: 'form') %>
</div>
<nav class="navbar-fixed">
<%= render(partial: 'post_nav_bar') %>
</nav>